product-show {
    .card-md {
        margin: 0;
        width: 100%;
        padding-top: 10px;
        box-shadow: none;
        img {
            max-width: 100%;
            height: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .content-md {
        background-color: #fff !important;
    }
    .card-ios {
        margin: 0;
        width: 100%;
        padding-top: 10px;
        box-shadow: none;
        img {
            max-width: 100%;
            height: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .content-ios {
        background-color: #fff !important;
    }
}