product-slide {
 .card-md{
     margin: 10px;
      p{
        line-height:1.4;
        font-size: 1.3rem
        }
    }
 .card-ios{
     margin: 10px;
      p{
        line-height:1.4;
        font-size: 1.3rem
        }
    } 
.slide-product{

    
    position: relative;
    img{
        max-width: 100%;
        height: auto;position: relative;
	    top: 50%;
	    transform: translateY(-50%);
        }

       .swiper-container{
        margin-left: 12px;
    }

    .card-md{
        margin: 10px 0 10px 0;
        
    }
    .card-ios{
        margin: 10px 0 10px 0;
        
    }
    .card-content-md{
        padding: 4px 16px 14px 4px;
        text-align: left;
    }
    .card-content-ios{
        padding: 4px 16px 14px 4px;
        text-align: left;
    }

    .title{
        font-size: 1.8rem;
        font-weight: 900;
        padding: 20px;
    }
    .title-right{
        font-size: 1.4rem;
        font-weight: 400;
        padding: 20px;
        position: absolute;
        right: 10px;
        top: 4px;
        text-decoration: underline
    }

    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
        display: none;
    }
    }
}
